<div class="footer">
  <img src="/images/footer-logo.png" width="50px" style="margin-right: 20px;" />
  <div style="color:#C82B38">
    <label> - Government College Umuahia Application Form - </label>
  </div>
</div>